<% provide(:title, @user.name) %>


<h1>My page</h1>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
  </div>
</div>

<h2> My Playlist </h2>
<% if @likes.empty? %>
  <h3>Nothing added to your playlist yet</h3>
  <h3>Click <%= link_to "Videos", videos_path %> to find your favorite Stand-up Comedy!</h3>
<% else %>
  <% @likes.each do |like| %>
    <div class="video-item">
      <li>
        <iframe width="300" height="200" src="https://www.youtube.com/embed/<%= like.video_id %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </li>
      <% if current_user == @user %>
        <li>
          <%= link_to "Delete", likes_path(user_id: current_user.id, video_id: like.video_id), class: "btn btn-primary", method: :delete %>
        </li>
      <% end %>
    </div>
  <% end %>
<% end %>
